<div class="container mb-3">
  <div class="row mt-4">
    <div class="col-12">
      <h1>Estadísticas</h1>
      <hr>
      <p> Aquí encontrarás un completo análisis de los comerciantes de tu región. </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <app-horizontal-bar-chart
        [results]="graphResults$ | async"
        xLabel="Ventas"
        yLabel="Comercios">
      </app-horizontal-bar-chart>
    </div>

    <div class="col-12 col-md-6">
      <app-pie-chart
        [results]="graphResults$ | async">
      </app-pie-chart>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <app-datatable
        [results]="datatableResults$ | async">
      </app-datatable>
    </div>
  </div>
</div>