<div class="row">
  <div class="col-12 col-md-6 offset-md-6">
    <input class="datatable-filter" type="text" 
           placeholder="Buscar por nombre o propietario de comercio"
           [formControl]="searchField"/>
  </div>
</div>

<ngx-datatable
  class="material"
  [messages]="messagesTable"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  columnMode="force"
  [headerHeight]="50"
  [footerHeight]="50"
  [scrollbarH]="scrollbarH"
  [limit]="5"
  rowHeight="auto"
>
  <ngx-datatable-column
    name="Id"
    prop="id"
    [maxWidth]="60"
    [sortable]="true">
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Nit"
    prop="nit"
    [sortable]="true">
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Nombre"
    prop="name"
    [sortable]="true">
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Propietario"
    prop="owner"
    [sortable]="true">
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Dirección"
    prop="address"
    [sortable]="false">
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Teléfono"
    prop="phone"
    [sortable]="false">
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Días de atención"
    prop="days"
    [sortable]="false">
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Horario"
    prop="schedule"
    [sortable]="false">
  </ngx-datatable-column>

  <ngx-datatable-column name="Ventas" prop="sales" >
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value | currency:'COP' }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>