@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.chart-container {
  display: grid;
  height: 300px;
}